.img-dog-Kuku {
  width: 400px;
  height: auto;
  background-color: azure;
  border-width: 2px;
  border-style: solid;
  border-bottom: 2px;
  border-top: salmon;
}

h1 {
  color: rgb(0, 255, 145);
  text-align: center;
}

h2 {
  color: aquamarine;
  background-color: black;
}

.title {
  font-size: medium;
  font-weight: bold;
  color: brown;
}
